{% extends 'frontend/base.html' %}
{% load form_tags %}
{% block content %}
{% get_contact_form %}
<section id="contact">
  <div str-row>
    <div str-xs="12">
      <div class="main-headings text-center margin-top70 margin-bottom20">Contact</div>
      <div class="sub-headings margin-bottom90 text-center">If you want to get in contact,  please fill in your details below:</div>
    </div>
  </div>
  <form action="/process-contact-form/" method="POST" id="contact_form">
    {% csrf_token %}
    <fieldset class="form-section">
      <div str-row>
        <div str-xs="12" str-md="6" class="margin-bottom20">
          {{ form.full_name }}
        </div>
        <div str-xs="12" str-md="6" class="margin-bottom20">
          {{ form.email_address }}
        </div>
      </div>
      <div str-row>
        <div str-xs="12" class="margin-bottom45">
          {{ form.comments }}
        </div>
      </div>
      <button type="submit" class="contact-button">Submit</button>
    </fieldset>
  </form>

</section>
{% endblock content %}
{% block js %}
<script type="text/javascript">
  $('#contact_form').on('submit', function(e) {
    e.preventDefault();
    process_form();
  });

  function process_form() {
    form = $('#contact_form');
    console.log(form)
    $.ajax({
      url : "process-contact-form/",
      type : "POST",
      data : { the_post : form.val() },

      // handles success
      success: function(json) {
        form.val('');
        console.log(json);
        console.log('success');
      },

      // handles erros
      error : function(xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
  }
</script>
{% endblock js %}
