{% extends 'frontend/base.html' %}
{% block content %}
{% load projects %}
<div class="Projects">
  <div str-row>
    <div str-xs="12">
      <div class="main-headings text-center margin-top70 margin-bottom20">Projects</div>
      <div class="sub-headings margin-bottom45 text-center">Take a look at some of my work:</div>
    </div>
  </div>
  {% get_projects %}
  <div class="project-container">
    <div str-row>
      {% for project in projects %}
      <div str-xs="12" str-sm="6" str-md="3">
        <div data-ref="{{ project.id }}" class="project-item" style="background:{{ project.logo_background }};">
          <img src="{{ project.project_logo.url }}">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% for project in projects %}
  <div class="project-expand ref-{{ project.id }}" style="background:{{ project.logo_background }} ;">
    <div class="project-close"></div>
    <div str-row>
      <div str-xs="12">
        <div class="expand-logo">
          <img src="{{ project.project_logo.url }}" class="margin-bottom45">
        </div>
      </div>
      <div str-xs="12">
        {% if project.description %}
        <div class="paragraph text-center margin-bottom45">
          {{ project.description }}
        </div>
        {% endif %}
      </div>
      {% if project.image.url %}
      <div str-xs="12" class="margin-bottom45">
        <div class="project-frame">
          <div class="bar">
            <i></i>
          </div>
          <img src="{{ project.image.url }}">
        </div>
      </div>
      {% endif %}
      {% if project.url %}
      <div str-xs="12" class="margin-bottom45">
        <a href="{{ project.url|safe }}" target="_blank" class="expander-button">Website</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript">
  $('.project-item').on('click', function() {
    var id = $(this).attr('data-ref');
    console.log(id);
    $('.project-expand.ref-' + id).addClass('expand');
  });
  $('.project-close').on('click', function() {
    $('.project-expand').removeClass('expand');
  });
</script>
{% endblock js %}
